#container__big-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 14pt;
}


#title__big-post,
#date__big-post,
#image__big-post,
#content__big-post {
    margin-bottom: 10px;
}

#title__big-post {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}
#date__big-post {
    font-size: 0.3em;
    align-self: flex-start;
}
#image__big-post {
    width: 100%;
    max-width: 1000px;
}
#content__big-post {
    text-align: justify;
    width: 75%;
    max-width: 810px;
}
a {
    font-weight: 700;
    margin: 6px;
    text-decoration: none;
    transition: all 300ms;
}
a:hover {
    transform: translateX(10px)
}