<article id="container__big-post">
    <h1 id="title__big-post">
        <span id="date__big-post">11 december 2021 / 10:30</span>
        Newspaper creates with a hobby
    </h1>
    <img id="image__big-post" src="https://i.pinimg.com/1200x/cf/5d/f7/cf5df7e4e7804644a43be3f66a224b9d.jpg" alt="a road between trees">
    <p id="content__big-post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus temporibus aliquam cupiditate vitae perspiciatis sunt, voluptate unde rem commodi quisquam sit alias sed numquam nam mollitia aperiam? Eos, sequi exercitationem.
    Aut quos minima ullam soluta ab, odit mollitia, obcaecati facilis praesentium veritatis reprehenderit dolores omnis inventore atque ut quo! Sed, eligendi vitae quia suscipit dolorem non excepturi consequatur veritatis dolores.
    Iste, animi. Vitae deleniti eveniet sequi dolor quisquam aliquid eum quidem dolore repellat minus. Nemo voluptatem qui reiciendis at illo saepe itaque, eaque consequuntur aut voluptas nihil dolores id eos.
    Libero tempora molestias, ex rem, esse quas aliquid, iste incidunt nemo obcaecati modi quos. Fuga, omnis magni maxime accusantium quas et veritatis dolor, dolorum quaerat nihil ipsam est nulla eum!</p>
</article>