#container__menu, #menu__list, .menu__list-item  {
    display: flex;
    flex-shrink: 1;
}

nav {
    background-color: #5a5a5a;
}

#menu__list {
    width: 100%;
    min-height: 70px;
    justify-content: space-evenly;
    
}

#menu__title {
    font-weight: 700;
}

img {
    max-height: 30px;
}

.menu__list-item {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.625rem;
    list-style: none;
}

a {
    margin: 5px;
    text-decoration: none;
    color: #fff;
}